/* General Styles */
body {
    background-image: url(img3.jpg);
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    height: 250px;
}
#escape-plan-btn{
    opacity: 1;
    background-color: #007bff;
    cursor: pointer;
    
}
header {
    background-color: #222;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
.part1{
    width: 28vw;
    display: flex;  
    flex-direction: column;
}
header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    /* background-color: rgb(86, 5, 5); */
    /* background-image: url(images.jpg); */
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}
.gif1{

}
#dashboard {
    
    /* background-image: url(images.jpg); */
    background-size: cover;
    opacity: .4;
    flex: 1 1 250px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 900; /* Extra-bold */
    color: #111;
    font-weight: 900;
    
}

#dashboard h2 {
    margin-top: 0;
}

#dashboard p {
    margin: 0.5rem 0;
}

#dashboard button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}

#dashboard button:hover {
    background-color: #0056b3;
}

#map-container {
    /* background-image: url(img3.jpg); */

    flex: 3 1 600px;
    height: 72vh;
    padding: 1rem;
}

#map {
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    position: relative;
}

footer p {
    margin: 0;
}